.heroimg{
    width: 100%;
    position: relative;

}
.section{
    width: 100%;
    max-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.just{
    position: absolute;
    font-size: 100px;
    top: 15%;
    transform: rotate(-10deg);

}